.mainDiv{
    position: relative; 
    text-align: left;
}

a{
    text-decoration: none;
}

.mainMenuItem{
    background-color: #ffffff; 
    transform-origin: center; 
    width: 14rem; 
    border-radius: 0.375rem; 
    border-top-width: 1px; 
    border-color: #F3F4F6; 
    box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color); 
    --ring-color: #000000; 
    --ring-opacity: 0.05; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.item1{
    background-color: #F3F4F6; 
    color: #111827; 
}

.item2{
    color: #374151; 
}

.item3{
    display: flex; 
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    align-items: center; 
}

.icon{
    margin-right: 0.75rem; 
    color: #9CA3AF; 
    width: 1.25rem; 
    height: 1.25rem; 
}

#header-wallet-image{
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
#header-wallet
{
    height: calc(100% - 10px);
    width: 200px;
    color: #ab0d82;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;  
    justify-content: center; 
    cursor: pointer;
}

#header-wallet-wrapper{
    width: 200px;
}